*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-left: 120px;
    height: 33px;
}
.nav p {
    font-size: 28px;
    color: #25A59E;
    font-family: "Gilda display";
    font-weight: 400px;
    line-height: 33px;
    border: 0.7px;

}
.nav img{
    height: 23px;
    width: 28px;
    gap: 7px;
}
.blurry{
    position: absolute;
    justify-content: center;
    
}
.ellipse{
    position: absolute;
    justify-items: center;
    margin-left: 235px;
    margin-top: 400px;

    
}
.hero{
    position: absolute;
    justify-items: center;
    margin-left: 200px;
    margin-top: 205px;
}
h1{
    justify-content: center;
    text-align: center;
}
span{
    color: #25A59E;
}
.Travel {
    font-size: 64px;
}
.img-container{
    position: relative;
    height: 700px;
    width: 100%;
    transform: translateY(-30%);
}
.h2{
    text-align: center;
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 30px;
    color: #262626;
    height: 84px;
}
.p{
    text-align: center;
    font-family: "Urbanist";
    font-weight: 500;
    height: 24px;
    color: #262626;
    line-height: 32px;
    font-size: 18px;


}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

}
.mirror, .lake{
    border: solid#F2F2F2;
    padding: 16px,16px,36px,16px;
    
}
.location {
    display: flex;
    line-height: 60px;
}

h3{
    font-family: "Urbanist";
    font-size: 24px ;
    font-weight:700px ;
    line-height: 36px;
}

.locationh4{
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 600px;
    line-height: 32px;
}
.rotate{
    transform:rotate(-180deg);

}

.choose{
    top: 2340px;
    padding: 100px,120px,100px,120px;
    gap: 60px;
    height: 204px;
    gap: 24px;
}
.choose h3{
    font-size: 72px;
    font-family: "Gilda display";
    font-weight: 400px;
    line-height: 84px;
    color: #262626;
    text-align: center;
    border: 0.2px;


}
.choose p{
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
    color: #737373;
    line-height: 32px;
    
}
.listcard{
   width: 1200px;
   display: flex;
   flex-direction: row; 
   gap: 28px;
   height: 400px;
   justify-content: center;


}


.card-1, .card-2, .card-3{
 width: 100%;
 height: 400px;
 padding-left: 30px;
 gap: 80px;
}

.card-1{
    background-color: #ffff;
    
}
.card-2{
    background-color:#25A59E;
}
.card-3{
    background-color: #ffff;
}

.title{
    width: 317px;
    height: 124px;
    border: 0.4px;
    font-family: "Gilda display";
    font-weight: 400px;
    font-size: 40px;
    line-height: 62px;
    color: #262626;
}
.description{
    width: 317px;
    height: 64px;
    font-family: "Urbanist";
    font-weight: 400px;
    font-size: 18px;
    line-height: 32px;
    color: #737373;
}
.description-2{
    color: #ffff;
    width: 317px;
    height: 64px;
    font-family: "Urbanist";
    font-weight: 400px;
    font-size: 18px;
    line-height: 32px;
}
.title-2{
    color: #ffff;
    width: 317px;
    height: 124px;
    border: 0.4px;
    font-family: "Gilda display";
    font-weight: 400px;
    font-size: 40px;
    line-height: 62px;
}

.action{
    display: flex;
    justify-content: end;
    gap: 12px;
    height: 24px;
    width: 148px;
    
    

}


