*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-left: 120px;
    height: 33px;
}
.nav p {
    font-size: 28px;
    color: #25A59E;
    font-family: "Gilda display";
    font-weight: 400px;
    line-height: 33px;
    border: 0.7px;

}
.nav img{
    height: 23px;
    width: 28px;
    gap: 7px;
}
.blurry{
    position: absolute;
    justify-content: center;
    
}
.ellipse{
    position: absolute;
    justify-items: center;
    margin-left: 235px;
    margin-top: 400px;

    
}
.hero{
    position: absolute;
    justify-items: center;
    margin-left: 200px;
    margin-top: 205px;
}
h1{
    justify-content: center;
    text-align: center;
}
span{
    color: #25A59E;
}
.Travel {
    font-size: 64px;
}
.img-container{
    position: relative;
    height: 700px;
    width: 100%;
    transform: translateY(-30%);
}
.h2{
    text-align: center;
    font-family: "Gilda display";
    font-weight: 400;
    font-size: 30px;
    color: #262626;
    height: 84px;
}
.p{
    text-align: center;
    font-family: "Urbanist";
    font-weight: 500;
    height: 24px;
    color: #262626;
    line-height: 32px;
    font-size: 18px;


}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;

}
.mirror, .lake{
    border: solid#F2F2F2;
    padding: 16px,16px,36px,16px;
    
}
.location {
    display: flex;
    line-height: 60px;
}

h3{
    font-family: "Urbanist";
    font-size: 24px ;
    font-weight:700px ;
    line-height: 36px;
}

.locationh4{
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 600px;
    line-height: 32px;
}
.rotate{
    transform:rotate(-180deg);

}

.choose{
    top: 2340px;
    padding: 100px,120px,100px,120px;
    gap: 60px;
}
.choose h3{
    font-size: 72px;
    font-family: "Gilda display";
    font-weight: 400px;
    line-height: 84px;
    color: #262626;
    text-align: center;
    border: 0.2px;


}
.choose p{
    font-family: "Urbanist";
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
    color: #737373;
    line-height: 32px;
    
}
.listcard{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    gap: 40px;
    padding: 30px;

}

.card{
    border: solid 2px white;
    background-color: #fff;
}

.discription{
    color: #737373;
}
